<div class="menu-group">
  <a class ='main' href="/request/new">New Request</a>
  <a class ='main' href="/user">Main Menu</a>
</div>

<% if @requests != [] %>
    <% @requests.each do |request| %>
      <div class='list'>
        <h2><%= request.job_title %></h2>
        <h3>Developer</h3>

        <% if request.developer_id != nil %>
          <span><a href="/<%= request.developer_id %>/developer"><%= request.developer.user.first_name %> <%= request.developer.user.last_name %> </a></span>
        <% else %>
          <span>No yet taken</span>
        <% end %>

        <h3>Reward</h3>
        <span><%= "AU$ #{request.reward}" %></span>
        <h3>Job details</h3>
        <p><%= request.description %></p>
        <h3>Platform</h3>
        <span><%= request.platform %></span>
        <h3>Post Date</h3>
        <span><%= request.post_date.strftime("%d %B %Y %I:%M %p") %></span>
        <h3>Due Date</h3>
        <span><%= request.due_date.strftime("%d %B %Y %I:%M %p") %></span>

        <% if request.developer_id == nil %>
          <div class="group-button">
            <a class ='menu' href="/request/<%= request.job_id %>/edit">Edit Request</a>
            <form action="/request/<%= request.job_id %>/delete" method="post">
              <input type="hidden" name="_method" value="delete">
              <button>delete</button>
            </form>
          </div>
        <% elsif request.developer_id != nil && request.status == nil %>
          <div class="group-button">
            <a class ='menu' href="/<%= request.job_id %>/feedback/new">Comment</a>
          </div>
        <% else %>
          <div class="group-button">
            <p>Completed</p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="list">
      <span>You have not make any request.</span>
    </div>
  <% end %>
