<div class="menu-group">
  <a class ='main' href="/develop">Return to Projects List</a>
</div>

<div class="details">
  <h3>Requester Name</h3>
  <span><%= @user_requester.first_name %> <%= @user_requester.last_name %></span>
  <h3>Contact Person</h3>
  <span><%= @user_requester.contact_person %></span>
  <h3>Email Address</h3>
  <span><%= @user_requester.email %></span>
  <h3>Requesting Feedbacks</h3>

    <% @feedbacks.each do |feedback| %>
      <% unless feedback.user_id == @user_requester.user_id %>
        <div class="list">
          <h3>By</h3>
          <span><%= feedback.user.first_name %></span>
          <h3>Type</h3>
          <span><%= feedback.comment_type %></span>
          <h3>Comment</h3>
          <span><%= feedback.comment %></span>
        </div>
      <% end %>
    <% end %>
</div>
